@model Film
    <link href="~/css/site.css" rel="stylesheet" />



<table>
    <tr>
        <td>
            @Model.Tytul
        </td>
        <td>
            <ul>
                <li>Tytuł: @Model.Rezyser</li>
                <li>Opis filmu: @Model.Opis</li>
                <li>Cena: @Model.Cena zł</li>
                <li>Długość filmu: @Model.DlugoscFilmu min.</li>
                <li><img height="500dp" src="~/plakaty/@Model.Plakat"/></li>
                
            </ul>
        </td>
    </tr>
</table>