@model IEnumerable<WypozyczalniaFilmow.Models.Kategoria>


<header class=" menu-bar">
    <nav class="menu">
        @foreach(var kategoria in Model)
                {
                    <a href="@Url.Action("Lista","Filmy", new { nazwakategorii = kategoria.Nazwa })" >@kategoria.Nazwa</a>
                }
        <a href="@Url.Action("Wszystkie","Filmy")">Wszystkie</a>
        @using (@Html.BeginForm("Szukaj", "Filmy")) {
            @Html.TextBox("tekst")
            <button typ="submit">Szukaj</button>
        
        }
    </nav>
</header>